:root{
    --box-color: rgb(94, 81, 170);
    --hover-color: rgb(119, 115, 175);
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    background-color: rgb(173, 173, 179);
    font-family: "Roboto", sans-serif;
}

header  {
    margin: 40px;
    font-size: 18px;
}

header p {
    float: right;
    
}

header a:hover{
    color: rgb(39, 88, 221)
}

label { 
    margin:10px;
}

input {
    height: 40px;
    width: 200px;
    background-color: rgb(206, 206, 206);
    border: 2px solid black;
    font-size: 25px;
}

.start h1 {
    font-size: 30px;
}

.start p {
    font-size: 17px;
}

#start-btn {
    background-color: var(--box-color);
    color: white;
    border-radius: 15px;
    height: 50px;
    width: 120px;
    cursor: pointer;
    margin: 5px;
    font-size: 15px;
}

#start-btn:hover {
    background-color: var(--hover-color);
}

.container {
    margin: 60px auto;
    padding: 40px;
    width: 60vw;
    text-align: center;
}

.choice {
    display: block;
    width: 250px;
    height: 50px;
    margin: 10px;
    padding-left: 20px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 15px;
    background-color: var(--box-color);
    border-style: solid;
    border-color:black;
    border-width: 2px;
    text-align: left;
    line-height: 50px;
    font-size: 20px;
    color: white;
}

.choice:hover {
    background-color: var(--hover-color);
}

.quiz {
    display: none;
}

.quiz h1 {
    font-size: 35px;
    margin-bottom: 50px;
 }

.quiz hr {
    height: 2px;
    border-width: 0;
    background-color: black;
}

#msg {
    font-size: 20px;
    font-style: italic;
    color: rgb(88, 86, 86);
    text-align: left;
    
}

.results {
    display: none;
}

#high-score-el {
    font-size: 20px;
}

#submit {
    display: inline-block;
    width: 100px;
    height: 50px;
    font-size: 18px;
}

.high-score {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
    background-color: rgb(66, 62, 62);
    color: white;
  }

#reset, #clear {
    width: 160px;
    height: 50px;

}











